[Desktop Entry]
Type=Application
Exec=sh -c "cd /home/${USER}/QSlackJukebox/build; ./QSlackJukebox ${API_KEY} 2>&1 1>&output.log"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=QSlackJukebox
Comment=
